/** Habit -img*/
.habit-img {
	border-radius: var(--border-14);
	background: var(--main-light);
	box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
	padding: 10px;
	transition: all var(--transition-speed);
	height: 45px;
	width: 45px;
}
.habit-img:hover,
.habit-img:focus {
	background: var(--primary-hover);
}
.habit-img:hover img,
.habit-img:focus img {
	filter: brightness(0) invert(1);
}
.habit-img_active {
	background: var(--primary);
}
.habit-img_active img {
	filter: brightness(0) invert(1);
}
.menu__add {
	border-radius: var(--border-14);
	border: 1px solid #cad5ff;
	height: 45px;
	width: 45px;
	transition: background var(--transition-speed);
}
.menu__add:hover,
.menu__add :focus {
	background: #f0f2ff;
}
/** Habit */
.habit {
	border-radius: var(--border-10);
	background: var(--main-light);
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.habit__day {
	color: var(--color-dark);
	font-size: var(--size-14);
	line-height: 16px;
	background-color: var(--secondary);
	padding: 20px 40px;
	min-width: 150px;
	border-radius: var(--border-10) 0 0 var(--border-10);
	border-right: 1px solid var(--secondary-light);
}
.habit__comment {
	color: var(--color-primary-text);
	font-size: var(--size-16);
	line-height: 16px;
	padding: 20px 25px;
}

.habit__delete {
	margin-left: auto;
	margin-right: 10px;
	border-radius: var(--border-5);
	transition: background var(--transition-speed);
	padding: 2px;
}
.habit__delete:hover,
.habit__delete:focus {
	background: #f0f2ff;
}

.habit__form {
	display: flex;
	gap: 15px;
	padding: 7px 10px 7px 25px;
	position: relative;
	width: 100%;
}
/** Button */
.btn {
	border-radius: var(--border-9);
	background: var(--primary-light);
	color: var(--primary);
	font-size: var(--size-13);
	padding: 14px 33px;
	transition: all var(--transition-speed);
}

.btn:hover,
.btn:focus {
	background: var(--primary-hover);
	color: var(--main-color);
}
/** Title */
.title {
	color: var(--color-dark);
	font-size: var(--size-36);
	font-weight: 400;
	line-height: normal;
}

/** Progress bar*/
.progress {
	display: flex;
	flex-direction: column;
	gap: 12px;
	min-width: 235px;
}
.progress__text {
	display: flex;
	justify-content: space-between;
}

.progress__name {
	font-size: var(--size-14);
	font-weight: 400;
	line-height: normal;
	color: var(--primary-dark);
}

.progress__percent {
	font-size: var(--size-12);
	font-weight: 400;
	line-height: normal;
	color: var(--secondary-gray);
}

.progress__bar {
	width: 100%;
	height: 5px;
	border-radius: var(--border-4);
	background: var(--color-grey);
	position: relative;
}

.progress__cover-bar {
	position: absolute;
	transition: all var(--transition-low);
	height: 5px;
	border-radius: var(--border-4);
	background: var(--primary);
}
/** Popup - Add Habit */
.cover {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover_hidden {
	display: none;
}

.popup {
	border-radius: var(--border-10);
	background: var(--main-light);
	box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
	min-width: 600px;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup__close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.popup__title {
	color: var(--color-dark);
	font-size: var(--size-24);
	font-weight: 400;
	line-height: normal;
	margin-bottom: 10px;
}

.icon-label {
	color: var(--secondary-grey);
	font-size: var(--size-14);
	line-height: normal;
	margin-bottom: 10px;
}

.icon-select {
	display: flex;
	gap: 25px;
	margin-bottom: 18px;
}
.icon {
	border-radius: var(--border-14);
	border: 1px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	background: var(--main-light);
	transition: all var(--transition-speed);
}

.icon:hover,
.icon:focus {
	background: var(--primary-hover);
}
.icon:hover img,
.icon:focus img {
	filter: brightness(0) invert(1);
}
.icon_active {
	background: var(--primary);
}

.icon_active img {
	filter: brightness(0) invert(1);
}

.popup__form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
